@import url("https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap");
:root {
  --text-black: #222222;
  --text-title-black: #222222;
  --text-red: #de2e54;
  --border-color-btns: #de2e54;
  --background-color-btns: #de2e54;
  --background-white: #fff;
}

*,
::after,
::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Open Sans", sans-serif;
}

/* Fonts Open Sans Condensed */
@font-face {
  font-family: "Open Sans Condensed";
  src: url("./fonts/OpenSansCondensed-Bold.woff2") format("woff2"),
    url("./fonts/OpenSansCondensed-Bold.woff") format("woff");
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Open Sans Condensed";
  src: url("./fonts/OpenSansCondensed-LightItalic.woff2") format("woff2"),
    url("./fonts/OpenSansCondensed-LightItalic.woff") format("woff");
  font-weight: 300;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: "Open Sans Condensed";
  src: url("./fonts/OpenSansCondensed-Light.woff2") format("woff2"),
    url("./fonts/OpenSansCondensed-Light.woff") format("woff");
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

a,
li {
  list-style: none;
  text-decoration: none;
  color: black;
}

.Container {
  max-width: 1100px;
  width: 100%;
  margin-left: auto;
  margin-right: auto;
}

/* Header */
header {
  padding-top: 24px;
  padding-bottom: 24px;
}
.HeaderContainer {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

#burger {
  display: none;
  background-color: black;
}

.HeaderTitleContainer {
  display: flex;
  gap: 16px;
  align-items: center;
  justify-content: center;
}

.HeaderTitleLogo {
  width: 50px;
  height: 50px;
}

.HeaderTitleText {
  font-weight: 600;
  font-size: 24px;
  color: var(--text-title-black);
}

/* Navbar Header */
.Nav {
  display: flex;
  gap: 32px;
  align-items: center;
  text-transform: uppercase;
}

.links {
  position: relative;
  transition: width 0.3s ease-in-out;
}

.links::before {
  content: "";
  width: 0%;
  position: absolute;
  height: 2px;
  background-color: var(--background-color-btns);
  bottom: -2px;
  left: 0px;
  transition: width 0.3s ease-in-out;
}

.links:hover::before {
  width: 100%;
}

.link {
  font-weight: 700;
  font-size: 14px;
  line-height: 150%;
  letter-spacing: 2px;
  transition: 0.3s ease-in-out;
  color: var(--text-black);
}

.link:hover {
  color: var(--text-red);
}

.HeaderButtonRegister {
  width: 189px;
  height: 47px;
  font-family: "Open Sans Condensed", sans-serif;
  font-weight: 700;
  border-radius: 8px;
  border: 2px solid var(--border-color-btns);
  background-color: var(--background-color-btns);
  text-transform: uppercase;
  display: flex;
  align-items: center;
  line-height: 150%;
  letter-spacing: 2px;
  justify-content: center;
  color: white;
  cursor: pointer;
  transition: 0.3s;
}

.HeaderButtonRegister:hover {
  background-color: var(--background-white);
  color: var(--text-red);
}

.HeaderButtonRegister:active {
  opacity: 80%;
}
