@import url("https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap");
:root {
  --text-black: #222222;
  --text-title-black: #222222;
  --text-red: #de2e54;
  --border-color-btns: #de2e54;
  --background-color-btns: #de2e54;
  --background-white: #fff;
  --background-color-black: #222222;
  --text-white: #fff;
  --card-color: #444444;
}
html,
body,
#root {
  height: 100%;
  scroll-behavior: smooth;
}

*,
::after,
::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Open Sans", sans-serif;
}

/* Fonts Open Sans Condensed */
@font-face {
  font-family: "Open Sans Condensed";
  src: url("./fonts/OpenSansCondensed-Bold.woff2") format("woff2"),
    url("./fonts/OpenSansCondensed-Bold.woff") format("woff");
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Open Sans Condensed";
  src: url("./fonts/OpenSansCondensed-LightItalic.woff2") format("woff2"),
    url("./fonts/OpenSansCondensed-LightItalic.woff") format("woff");
  font-weight: 300;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: "Open Sans Condensed";
  src: url("./fonts/OpenSansCondensed-Light.woff2") format("woff2"),
    url("./fonts/OpenSansCondensed-Light.woff") format("woff");
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

a,
li {
  list-style: none;
  text-decoration: none;
  color: black;
}

.Container {
  max-width: 1100px;
  width: 100%;
  margin-left: auto;
  margin-right: auto;
}

/* Header */
header {
  padding-top: 24px;
  padding-bottom: 24px;
}
.HeaderContainer {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

#burger {
  display: none;
  background-color: black;
}

.HeaderTitleContainer {
  display: flex;
  gap: 16px;
  align-items: center;
  justify-content: center;
}

.HeaderTitleLogo {
  width: 50px;
  height: 50px;
}

.HeaderTitleText {
  font-weight: 600;
  font-size: 24px;
  color: var(--text-title-black);
}

/* Navbar Header */
.Nav {
  display: flex;
  gap: 32px;
  align-items: center;
  text-transform: uppercase;
}

.links {
  position: relative;
  transition: width 0.3s ease-in-out;
}

.links::before {
  content: "";
  width: 0%;
  position: absolute;
  height: 2px;
  background-color: var(--background-color-btns);
  bottom: -2px;
  left: 0px;
  transition: width 0.3s ease-in-out;
}

.links:hover::before {
  width: 100%;
}

.link {
  font-weight: 700;
  font-size: 14px;
  line-height: 150%;
  letter-spacing: 2px;
  transition: 0.3s ease-in-out;
  color: var(--text-black);
}

.link:hover {
  color: var(--text-red);
}

.ButtonRegister {
  width: 189px;
  height: 47px;
  font-family: "Open Sans Condensed", sans-serif;
  font-weight: 700;
  border-radius: 8px;
  border: 2px solid var(--border-color-btns);
  background-color: var(--background-color-btns);
  text-transform: uppercase;
  display: flex;
  align-items: center;
  line-height: 150%;
  letter-spacing: 2px;
  justify-content: center;
  color: white;
  cursor: pointer;
  transition: 0.3s;
}

.ButtonRegister:hover {
  background-color: var(--background-white);
  color: var(--text-red);
}

.ButtonRegister:active {
  opacity: 80%;
}

/* Main */
.Hero {
  background-color: #0eb4c1;
  color: white;
  padding-top: 29px;
}
.HeroContainer {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 177px;
}
.HeroLeft {
  display: flex;
  flex-direction: column;
  gap: 36px;
}
.HeroInfo {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  gap: 16px;
}
.HeroTitle {
  font-weight: 700;
  font-size: 36px;
  line-height: 120%;
  font-family: "Open Sans Condensed", sans-serif;
}

.HeroDesc {
  font-weight: 400;
  font-size: 18px;
  line-height: 150%;
  font-family: "Open Sans", sans-serif;
}
.HeroLogo {
  width: 423px;
  height: 504px;
}

/* Services */
.Services {
  padding-top: 120px;
  padding-bottom: 120px;
}

.ServicesTitle {
  font-family: "Open Sans Condensed", sans-serif;
  font-size: 36px;
  line-height: 120%;
  color: black;
  text-align: center;
  margin-bottom: 56px;
}

.Card {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-bottom: 60px;
}

.CardChild {
  display: flex;
  gap: 64px;
  align-items: center;
  justify-content: center;
  width: 864px;
}

.CardImg {
  width: 200px;
  height: 200px;
}

.CardChildLeft {
  display: flex;
  flex-direction: column;
  gap: 24px;
  align-items: flex-start;
  justify-content: center;
}

.CardTitle {
  font-family: "Open Sans Condensed", sans-serif;
  font-weight: 700;
  font-size: 24px;
  line-height: 120%;
  color: var(--text-black);
}

.CardDesc {
  font-family: "Open Sans", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 150%;
  color: var(--card-color);
}

/* CTA */
.CTA {
  color: var(--text-white);
  background-color: #0eb4c1;
  padding-top: 64px;
  padding-bottom: 64px;
}
.CTAContainer {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
.CTAtitle {
  font-family: "Open Sans Condensed", sans-serif;
  font-weight: 700;
  font-size: 36px;
  line-height: 120%;
  text-align: center;
  margin-bottom: 40px;
}
.CTAButtons {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 40px;
}

.telButton {
  width: 194px;
  height: 42px;
  border-radius: 8px;
  border: 2px var(--text-white) solid;
  display: flex;
  align-items: center;
  justify-content: center;
  color: var(--text-white);
  background-color: transparent;
  font-family: "Open Sans Condensed", sans-serif;
  letter-spacing: 2px;
  font-weight: 700;
  font-size: 15px;
  line-height: 120%;
  text-transform: uppercase;
}
.tgButton {
  width: 214px;
  height: 42px;
  border-radius: 8px;
  border: 2px var(--text-white) solid;
  display: flex;
  align-items: center;
  justify-content: center;
  color: var(--text-white);
  background-color: transparent;
  font-family: "Open Sans Condensed", sans-serif;
  letter-spacing: 2px;
  font-weight: 700;
  font-size: 15px;
  line-height: 120%;
  text-transform: uppercase;
}

.btn {
  transition: 0.3s ease-in-out;
}
.btn:hover {
  background-color: white;
  color: #0eb4c1;
}
.btn:active {
  opacity: 80%;
}

/* Footer */
footer {
  background-color: var(--background-color-black);
  color: white;
  padding-bottom: 24px;
  padding-top: 24px;
}

.FooterContainer {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.FooterTitleContainer {
  display: flex;
  color: white;
  align-items: center;
  justify-content: center;
  gap: 16px;
}

.FooterTitleText {
  font-weight: 600;
  font-size: 24px;
  color: var(--text-white);
}

/* Footer Nav */
.FooterNav {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 32px;
}

.FooterLinks {
  position: relative;
  transition: width 0.3s ease-in-out;
}

.FooterLinks::before {
  content: "";
  width: 0%;
  position: absolute;
  height: 2px;
  background-color: var(--background-color-btns);
  bottom: -2px;
  left: 0px;
  transition: width 0.3s ease-in-out;
}

.FooterLinks:hover::before {
  width: 100%;
}

.FooterLink {
  font-weight: 700;
  font-size: 14px;
  line-height: 150%;
  letter-spacing: 2px;
  text-transform: uppercase;
  transition: 0.3s ease-in-out;
  color: var(--text-white);
}

.FooterLink:hover {
  color: var(--text-red);
}

/* Footer Sticky */
.AppContainer {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}
.MainContent {
  flex: 1;
}

.menu_btn {
  display: none;
}
.responsive_nav {
  display: none;
}

.Nav {
  position: relative;
}

.responsive_nav {
  position: absolute;
  padding: 20px;
  background-color: #fff;
  border: 2px solid #de2e54;
  border-radius: 10px;
  top: 71px;
  right: 12px;
  z-index: 200;
  box-shadow: 1px 3px 5px 0px #de2e54;
}

.responsive_link {
  font-size: 20px;
}

@media (max-width: 930px) {
  .Nav {
    display: none;
  }
  .ButtonRegister {
    display: none;
  }
  .menu_btn {
    display: block;
  }
  .responsive_nav {
    display: block;
  }
}
